/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #000;
}

body .navbar-fixed-top{
  background-color: #000;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer{
  background-color: #000;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

/*personalização para centralizar titulo e background*/
/*---------------------------------------------------------------------------*/

.jumbotron {
  display: flex;
  align-items: center;
  #background-image: url('https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/jumbotron.jpg');
  background-image: url('imgEventos/evento3.jpg');
  background-size: cover;
  background-position: center;
  color: #ffffff;
  height: 600px;
  text-shadow: 0.25px 0.25px 0.25px #000;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
  text-shadow:#000 1px -1px 2px, #000 -1px 1px 2px, #000 1px 1px 2px, #000 -1px -1px 2px;
  #text-shadow:#fff -1px -1px 2px;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
  text-shadow:#000 1px -1px 2px, #000 -1px 1px 2px, #000 1px 1px 2px, #000 -1px -1px 2px;
  #text-shadow:#fff -1px -1px 2px;
}